
body {
    background-image: url("../img/fondo.png");
   
}
header{
width:100%;
padding:2%;
}
.logo{
     width:22em;

}

.menuList li{
	text-decoration: none;
	list-style:none;
	display:inline;
}
.menuList{
	width :60%;
	margin: 0 auto;
}