/*basic styles*/
/*keep the footer in the bottom of the page*/
html,
body {
	margin:0;
	padding:0;
	height:100%;
	background-image: url("../img/fondo.png");
}
.wrapper {
	min-height:100%;
	position:relative;
}

#footer {
	padding: 0;
	background:#ffab62;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}

/*usuario actual*/
.usuario{ 
  background: #722d7b;
  width:100%;
  text-align:center;
  color:white;
  opacity:0.9;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}
.usuario .btn{ /* header contiene el logo*/
  width:100px;
  font-size:12px;
  transition: all 0.3s ease 0s;
  opacity: 1;
  margin-bottom: 10px;
}
.usuario .btn:hover{
  opacity: 0.9;
  box-shadow: inset 0 0 0 5px #f1f1f1;
}
header img{ /* header contiene el logo*/
  float:left;

}
.logo{
  width:17em;

}

/* Estilos del menu*/
menu{
	padding: 0;
}

.menu-mobile{
	margin-left: -15px;
	margin-right: -15px;
}
.menuList div > li{   
	padding-top: 10%;
  text-decoration: none;
  list-style:none;
  display:inline;
  float:left;
  margin-left:27px;

}

.menuList{
	margin-top: 50%;
  width: 800px;
  margin: 0 auto;
  transition: all 0.3s ease 0s;
}

.subMenu {
  background:linear-gradient(135deg, #a32068 0%,#2e368f 100%);
  opacity:0.8;
  width:10em;
  margin:0 auto;
  padding-top:10px;
  padding-bottom:10px;
  line-height:1.6em;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.subMenu-lg{
	width:11em !important;
}

.subMenu li{
  display:block;   
  text-indent: -30px;
}
.subMenu li a{
  color:white;
  text-decoration:none;
}
.subMenu li a:hover{
  text-decoration: underline;
}
#configuracion ul,#administracion ul ,#portafolio ul ,#reportes ul  {
  display: none;
}

#configuracion:hover ul,#administracion:hover ul,#portafolio:hover ul,#reportes:hover ul {
  display:block;
}

.menuList img:hover,.menuVertical img:hover{
  opacity: 0.8;
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);

}

.menuVertical{
  padding:0px;
  text-decoration: none;
  list-style:none;
  display:block;
  float:left; 
  transition: all 0.3s ease 0s;
}
.menuVertical img{
  height:100px;


}
.menuVertical div > li>ul{
  float:right;
  background:linear-gradient(135deg, #a32068 0%,#2e368f 100%);
  opacity:0.8;
  width:8em;
  margin:0 auto;
  line-height:1.6em;

}
.menuVertical div > li{
  margin-bottom:10px;
}
.cf:before, .cf:after{
  content: '';
  display: table;
}

.cf:after{
  clear: both;
}
/*Estilos del footer*/
footer div{
  background: #722d7b;
  padding:3px;
  color:white;
}
footer div p{
  margin-right:50px;
  text-align:right;
}

@media (min-width: 992px){

	.menuVertical{
		z-index: 10;
		position: absolute;
		left: 0;
	}

}

@media (max-width: 992px){

	.menuVertical{
		display: none;
	}
}

@media (max-width: 767px){

	.menuList{
		padding-top: 0;
		width: 100%;
	}
	.col1{
		width: 400px;
		height: 250px;
		margin: auto;
	}
	.col2{
		width: 400px;
		height: 250px;
		margin: auto;
	}
	.subMenu {
		position: absolute;
	}
}

.testing{
	height: 600px;
	background: red;
}