<div class="modal fade" id="modalGrupo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">    
    <div class="modal-header">
      <h4>Nuevo grupo</h4>
    </div>
        <button type="button" class="close" data-dismiss="modal" ng-click="cerrarModalGrupo()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body" id="contentbody">
        <form name="gruposForm" class="form-vertical" novalidate>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="nombreGrupo">Nombre Grupo</label>
              <input type="text" class="form-control" id="nombre" ng-model="grupo.nombre" required>
            </div>
              <div class="form-group">
                <label for="profesor">Profesor</label>  
                <select id="profesor" ng-model="profesor" ng-init="profesores" class="form-control plus-add" ng-options="obj.nombre+' '+obj.apellido for obj in profesores track by obj.id">
                  <option value="">--Profesor--</option>
                </select>
                <i class="fa fa-plus fa-lg plus-add-icon" ng-click="agregarProfesor(profesor)"></i>
              </div>
              <div class="form-group">
                <label for="encargado">Profesor encargado</label> 
                <select id="encargado" required class="form-control" ng-model="grupo.encargado" ng-init="profesores" ng-options="obj.nombre+' '+obj.apellido for obj in profesores track by obj.id">
                  <option value="">--Profesor--</option>
                </select>
              </div>
              <div class="form-group">
                <label for="curso">Curso</label>  
                <select id="curso" required ng-model="grupo.curso" ng-init="cursos" class="form-control" ng-options="obj.nombre for obj in cursos track by obj.id">
                  <option value="">--Curso--</option>
                </select>
              </div>      
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <ul class="list-group listaProfesores">
                <li class="list-group-item list-g-header">Profesores</li>
                <li class="list-group-item" ng-repeat="profesorS in grupo.profesores">
                  {{ profesorS.nombre }} {{ profesorS.apellido }}
                  <select class="form-control li-select" ng-model="profesorS.area" ng-init="profesorS.area" ng-change="cambiarArea(profesorS,profesorS.area)"required ng-options="obj.id as obj.nombre for obj in areasAcademicas">
                      <option value="">--Área--</option>
                  </select>
                  <i class="fa fa-times-circle pull-right" ng-click="quitarProfesor(profesorS)"></i>
                <li>
              </ul>
            </div>
          </div> 
        </form>   
      </div>
       <div class="row modal-footer">
            <button type="submit" class="btn btn-custom btn-sm" ng-click="guardar(grupo)">Guardar</button>
          </div>

    </div>
  </div>
</div>


