<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-3"></div>
		<div class="col-xs-12 col-sm-7">
			<div class="table-header">
				<div class="col-xs-12 col-sm-6">
					<p>Carreras</p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p><a class="add" data-toggle="modal" data-target="#editModal" ng-click="agregar(carrera)" href=""><i class="fa fa-plus fa-lg"></i>Agregar</a></p>
				</div>
			</div>
			<table id="carreras-table" ng-table class="table">
			    <tr ng-repeat="carrera in carreras">
			        <td data-title="'Nombre'" >{{carrera.nombre}}</td>
			        <td data-title="'Codigo'" >{{carrera.cod}}</td>
			        <td data-title="'Acciones'">
			        		<a data-toggle="modal" data-target="#editModal" ng-click="editar(carrera)"><i class="fa fa-pencil-square-o fa-2x"></i></a>
			        	<a><i class="fa fa-times-circle fa-2x" ng-click="borrar(carrera)"></i></a>
			        </td>
			    </tr>
			</table>
		</div>
		<div class="col-xs-12 col-sm-2"></div>



</div>
