<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-3"></div>
		<div class="col-xs-12 col-sm-7">
			<div class="table-header">
				<div class="col-xs-12 col-sm-6">
					<p>Cursos</p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p><a href="" data-toggle="modal" data-target="#editModal" ng-click="agregar(curso)" href=""><i class="fa fa-plus fa-lg"></i>Agregar</a></p>
				</div>
			</div>
			<table id="cursos-table" ng-table class="table">
			    <tr ng-repeat="curso in cursos">
			        <td data-title="'Nombre'">{{curso.nombre}}</td>
			        <td data-title="'Código'">{{curso.cod}}</td>
			        <td data-title="'Acciones'">
			        	<a data-toggle="modal" data-target="#editModal" ng-click="editar(curso)"><i class="fa fa-pencil-square-o fa-2x"></i></a>
			        	<a><i class="fa fa-times-circle fa-2x" ng-click="borrar(curso)"></i></a>
			        </td>
			    </tr>
			</table>
		</div>
		<div class="col-xs-12 col-sm-2"></div>
</div>
