<div class="container-fluid">
	<div class="row">
	  <div class="pagetittle col-xs-11 col-sm-7"><h2>Grupos</h2></div>
		<div class="form-group search-parent  col-xs-11 col-sm-4">
	      <input type="text" class="form-control normal-search" placeholder="Search" ng-model="palabra">
	      <i class="fa fa-search normal-search-icon"></i>
	    </div>
		<div class="col-xs-12">
			<div class="table-header">
				<div class="col-xs-12 col-sm-6">
					<p>Grupos</p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p><a class="add" data-toggle="modal" data-target="#nuevoGrupoModal" ng-click="agregar()" ><i class="fa fa-plus fa-lg"></i>Agregar</a></p>
				</div>
			</div>
			<table id="custom-table" ng-table="tableParams"  class="table">
				<tr ng-repeat="grupo in grupos | filter:palabra">
					<td data-title="'Nombre'">{{grupo.nombre}}</td>
					<td data-title="'Curso'">{{grupo.curso}}</td>
					<td data-title="'Agregar Estudiantes'">						
						<a data-toggle="modal" data-target="#estudiantesGrupoModal" ><i class="fa fa-user-plus fa-2x" ng-click="editar(grupo)"></i></a>
					</td>
					<td data-title="'Modificar'">
					<a data-toggle="modal" data-target="#nuevoGrupoModal" ng-click="editar(grupo)"><i class="fa fa-pencil-square-o fa-2x"></i></a>	
					</td>
					<td data-title="'Eliminar'">
					<a><i class="fa fa-times-circle fa-2x" data-toggle="modal" data-target="#modalConfirm" ng-click="setGrupo(grupo)"></i></a>	
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

