<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6  col-sm-6 col-sm-offset-3">
					<div class="divLogo">
						<img ng-src="img/logo.png">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-7 col-sm-offset-3">
					<div class="divForm" id="divLogin">
						<form ng-submit="login.loginSubmit()" class="login-form">
							<div class="form-group">
								<input type="email"  id="inputEmail" name="inputEmail" placeholder="Email" class="form-control" ng-model="login.loginRequest.email" required>
							</div>
							<div class="form-group">
								<input type="password" id="inputPassword" name="inputPassword" placeholder="Contraseña" class="form-control" ng-model="login.loginRequest.password" required>
							</div>
							<div class="form-group">
							<p ng-show="loginValid">Contraseña o Email inválido</p>
								<input type="checkbox" name="cbSavePassword" ng-model="login.loginRequest.bRemember">
								<label class="rememberPass" for="cbSavePassword">Guardar Contraseña</label>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-default">Entrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>		
</div>
