<div>

<nav class="navbar navbar-default navbar-fixed-top">
<a href="#"><img class="logo2 cf" src="img/logo.png"/></a>
  <div class="container">

       <ul class="nav nav-tabs">
       	<li id="configuracion"class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Configuración<span class="caret"></span></a>
    		 <ul class="subMenuMovil dropdown-menu cf">
     		 <li><a  href='#' ng-click="" >Usuario</a></li>
    		 <li><a href='#' ng-click="" >Carrera</a></li>
     		 <li><a  href='#' ng-click="">Curso</a></li>
    		 <li><a  href='#' ng-click="">Parametros</a></li>
     		 </ul>
        </li>
        		<li id="administracion"class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Administración<span class="caret"></span></a>
    		 <ul class="subMenuMovil dropdown-menu cf">
     		 <li><a  href='#' ng-click="" >Ver Cursos</a></li>

     		 </ul>
        </li>
        	<li id="portafolio"><a href="#" >Portafolio <span ></span></a>
            </li>
        	<li id="reportes"class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Reporte <span class="caret"></span></a>
    		 <ul class="subMenuMovil dropdown-menu cf">
     		 <li><a  href='#' ng-click="" >Reporte Notas</a></li>
    		 <li><a href='#' ng-click="" >Historial Académico</a></li>
     		 </ul>
        </li>
      </ul>
  </div>
</nav>



</div>