<ul ng-class=" $root.currentStateName=='home' ? 'menuList' : 'menuVertical'">
  <div class="col1">
    <li id="configuracion"><a><img ng-src="img/configuracion.png"/></a>
     <ul class="subMenu cf">
       <li><a ui-sref="usuarios" ng-click="">Usuarios</a></li>
       <li><a ui-sref="carreras" ng-click="">Carreras</a></li>
       <li><a ui-sref="cursos" ng-click="">Cursos</a></li>
       <li><a ui-sref="grupos">Grupos</a></li>
       <li><a ui-sref="parametros" ng-click="">Parametros</a></li>
     </ul>
   </li>
   <li id="administracion"><a><img ng-src="img/administracion.png"/></a>
     <ul class="subMenu" >
       <li><a ui-sref="miscursos" ng-click="">Ver Cursos</a></li>
     </ul>
   </li>
 </div>
 <div class="col2">
  <li id="portafolio"><a ui-sref="portafolio" ><img ng-src="img/portafolio.png"/></a></li>
  <li id="reportes"><a><img ng-src="img/reportes.png"/></a>
    <ul class="subMenu subMenu-lg">
      <li><a ui-sref="reportenotas" ng-click="">Reporte Notas</a></li>
      <li><a ui-sref="historialacademico" ng-click="">Historial Acádemico</a></li>
    </ul>
  </li> 
</div>

</ul>
