<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <div class="row col-xs-12 col-sm-6">
                <p>Está seguro que desea eliminar?</p>
          </div>   
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-custom btn-sm" ng-click="EliminarProyecto()">Aceptar</button>
        <button type="submit" class="btn btn-custom btn-sm" ng-click="">Cancelar</button>
      </div>
    </div>
  </div>
</div>
