<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <form class="form-vertical">
        <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label class="col-xs-4 control-label" for="">Nombre</label>  
          <div class="col-xs-8">
            <input type="text" ng-model="nombre" class="form-control input-md"> 
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label" for="">Codigo</label>  
          <div class="col-xs-8">
            <select ng-model="codigo" ng-options="obj.id as obj.cod for obj in cursos">
              <option value="">--Codigo--</option>
            </select>
          </div>
        </div>
        </div>
        
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-custom btn-sm" ng-click="guardar()">Guardar</button>
      </div>
    </div>
  </div>
</div>