<div class="modal fade" id="verConfig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <form ng-submit="saveConfig()">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="row">
              <h2 class="h2ConfigTitle">Configuración</h2>
            </div>
            <div class="row divAddConfig">
              <button type="button" class="btn btn-custom pull-right">Agregar Rubro</button>
            </div>
            <div class="row">
              <table id="custom-table" class="table selectedTable" ng-table="tableParams" >
                  <tr ng-repeat="rubro in rubrica">
                    <td data-title="'Rubro'">{{rubro.rubro}}</td>
                    <td data-title="'Valor'">
                      <input type="number" min="0" max="100" class="form-control" ng-model="rubro.valor">
                    </td>
                  </tr>
                </table>   
            </div>
            <div class="row">
              <button type="submit" class="btn btn-custom btn-sm pull-right">Guardar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>