<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="row">
            <p>Seguro que desea eliminar?</p>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <button type="submit" class="btn btn-custom btn-sm pull-left" data-dismiss="modal" ng-click="confirmDelete()">Si</button>
            </div>
            <div class="col-xs-6">
              <button type="submit" class="btn btn-custom btn-sm pull-right" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>