<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <form class="form-horizontal">
        <div class="form-group">
          <label class="col-xs-4 control-label" for="">Nombre</label>  
          <div class="col-xs-8">
            <input type="text" ng-model="nombre" class="form-control input-md"> 
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label" for="">Código</label>  
          <div class="col-xs-8">
            <input type="text" ng-model="codigo" class="form-control input-md"> 
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label" for="">Cursos</label>  
          <div class="col-xs-8">
            <select ng-model="curso" ng-options="obj.id as obj.nombre for obj in cursos">
              <option value="">--Cursos--</option>
            </select>
            <a class="add" ng-click="agregarC(carrera)" href=""><i class="fa fa-plus fa-lg"></i></a>
          </div>
        </div>
        <table id="carreras-table" ng-table class="table">
          <tr ng-repeat="curso in cursos">
              <td data-title="'Nombre'" >{{curso.nombre}}</td>
              <td data-title="'Codigo'" >{{curso.cod}}</td>
              <td data-title="'Acciones'">
                <a><i class="fa fa-times-circle fa-2x" ng-click="borrar(carrera)"></i></a>
              </td>
          </tr>
      </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-custom btn-sm" ng-click="guardar()">Guardar</button>
      </div>
    </div>
  </div>
</div>