<div class="modal fade" id="modalIntegrante" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <form class="form-horizontal">
        <div class="form-group" ng-repeat="rubro in rubrica">
          <label class="col-xs-4 control-label" for="">{{rubro.rubro}}</label>
          <div class="col-xs-8">
            <input type="text" ng-model="rubro.valor" class="form-control input-md"> 
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-custom btn-sm" ng-click="guardar()">Guardar</button>
      </div>
    </div>
  </div>
</div>