 <div class="modal fade" id="elegirVot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="contentbody">
    <div class="modal-header"><h4>Invitar Usuarios</h4></div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <div class="row col-xs-12 col-sm-6">

          <div class="col-xs-12 col-sm-12">
            <form class="" role="search">
              <div class="form-group search-parent">
                <input type="text" class="form-control normal-search" placeholder="Search" ng-model="palabra">
                <i class="fa fa-search normal-search-icon"></i>
              </div>
            </form> 
            <ul class="list-group listaEstudiantes Listascroll">
              <li class="list-group-item list-g-header">Lista de Usuarios
              </li>
              <li class="list-group-item" ng-repeat="usuario in usuarios | filter:palabra">
                {{ usuario.Nombre }} {{ usuario.Apellido }}<i class="fa fa-plus fa-lg plus-add-icon pull-right" ng-click="agregarUsuarios(usuario)"></i>
                <span>{{ usuario.rol.nombre }}</span>
              </li>
              <li>
              </ul>
            </div>
          </div>

          <div class="row col-xs-12 col-sm-6">
            <div class="col-xs-12 col-sm-12">
              <ul class="list-group listaEstudiantes Listascroll ListaInvitados">
                <li class="list-group-item list-g-header">Lista de invitados</li>
                <li class="list-group-item" ng-repeat="usuario in usuariosSeleccionados">
                 {{ usuario.Nombre }} {{ usuario.Apellido }}
                 <i class="fa fa-times-circle fa pull-right" ng-click="quitarUsuarios(usuario)"></i>
                   <span>{{ usuario.rol.nombre }}</span>
                 <li>
                 </ul>
               </div>
             </div>
           </div>
           <div class="modal-footer">
            <button type="submit" class="btn btn-custom btn-sm" ng-click="guardar()">Enviar Votación</button>
          </div>
        </div>
      </div>
    </div>
