<div class="single-nav" ng-repeat="grupo in curso.groups">
	<div>
		<ul class="nav nav-justified nav-cursos-user">
		  <li>
		  	<a ng-click="verCursos.bCourseDisplay = courseDisplayToggle('main')" ui-sref="verCursos.entregas">{{curso.name}} Grupo: {{grupo.number}}</a>
		  </li>
		  <li>
		  	<a ng-click="verCursos.bCourseDisplay = courseDisplayToggle('students')" ui-sref="verCursos.estudiantes">Estudiantes</a>
		  </li>
		  <li>
		  	<a ng-click="verCursos.bCourseDisplay = courseDisplayToggle('team')" ui-sref="verCursos.equipo">Equipo</a>
		  </li>
		  <li>
		  	<a ng-click="verCursos.showTeam(equipo)" data-toggle="modal" data-target="#verConfig">Config</a>
		  </li>
		</ul>
	</div>
	<div ng-show="verCursos.bCourseDisplay" ui-view></div>
</div>


