<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 containerP">
      <form class="navbar-form buscador cf " role="search">
        <div ng-show="roleLv > 2" class="form-group search-parent">
          <input type="text" class="form-control normal-search" placeholder="Search" ng-model="palabra">
          <i class="fa fa-search normal-search-icon"></i>
        </div>
      </form> 
      <div ng-repeat="estudiante in estudiantes | filter:palabra | limitTo: 1">
        <div  class=" head col-xs-12 col-sm-12"><h2>Portafolio</h2><button ng-show="roleLv == 1" data-toggle="modal"  data-target="#editModal" ng-click="editar(estudiante)" class="conf fa fa-cog"></button></div>
        <div class="fotoI col-xs-12 col-sm-3" >
          <img ng-src="{{estudiante.foto}}" class="img-responsive img-circle"/>      
        </div>
        <div class="tittle col-xs-12 col-sm-5" >
          <h4>{{estudiante.name}}</h4>
          <p class="correo"><span >Correo Electrónico : </span> {{ estudiante.correo }}</p>
          <p class="teléfono"><span >Teléfono : </span>{{ estudiante.telefono }}</p>
          <p class="descripcion"><span >Otra información : </span>
            {{ estudiante.OtraInfo }}</p>
            <a class="pdf" href="#" ng-click="">Descargar PDF</a>
          </div>
          <div class="projects col-xs-12 col-sm-12">
            <h3>Proyectos</h3>
            <div class="line cf col-xs-11 col-sm-11"></div>

            <div class="ih-item square new effect6 from_top_and_bottom col-xs-12 col-sm-4" ng-repeat="proyecto in estudiante.proyectos">
              <a data-toggle="modal" ng-click="seleccionar(proyecto)"  data-target="#editModalV"><div class="img"><img class="img-responsive" ng-src="{{proyecto.foto}}"/></div>
                <div class="info"> <h3>{{ proyecto.nombre }}</h3><p><i class="fa fa-play-circle"></i></p></div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>










