<div class="container-fluid">
 <div class="row">
  <div class="col-xs-12 containerP">
  <form class="navbar-form buscador cf " role="search">
    <div class="form-group">
      <input type="text" class="form-control " placeholder="Search" ng-model="palabra">
      <button type="submit" class="btn btn-default agregar"><span class="glyphicon glyphicon-search"></span></button> 
    </div>
  </form> 
<div ng-repeat="estudiante in estudiantes | filter:palabra | limitTo: 1">
  <div  class=" head col-xs-12 col-sm-12"><h2>Portafolio</h2><button data-toggle="modal"  data-target="#editModal" ng-click="editar(estudiante)" class="conf fa fa-cog"></button></div>
  <div class="fotoI col-xs-12 col-sm-3" >
   <img ng-src="{{estudiante.foto}}" class="img-responsive img-circle"/>      
 </div>
 <div class="tittle col-xs-12 col-sm-5" >
  <h4>{{estudiante.name}}</h4>
  <p class="correo"><span >Correo Electrónico : </span> {{ estudiante.correo }}</p>
  <p class="teléfono"><span >Teléfono : </span>{{ estudiante.telefono }}</p>
  <p class="descripcion"><span >Otra información : </span>
  {{ estudiante.OtraInfo }}</p>
 </div>
 <div class="projects col-xs-12 col-sm-12">
   <h3>Proyectos</h3>
   <div class="line cf col-xs-11 col-sm-11"></div>

   <div class="ih-item square new effect6 from_top_and_bottom col-xs-12 col-sm-4" ng-repeat="proyecto in estudiante.proyectos">
    <a data-toggle="modal"  data-target="#editModalV"><div class="img"><img class="img-responsive" ng-src="{{proyecto.foto}}"/></div>
     <div class="info"> <h3>{{ proyecto.nombre }}</h3><p><i class="fa fa-play-circle"></i></p></div>
   </a>
  </div>

</div>
<div class="paginationDiv cf col-xs-12 col-sm-12">
 <ul class="pagination" >
   <li ><a href="#" ng-click="itemsLimit = 1" ng-init="itemsLimit=1" class="active">1</a></li>
   <li><a href="#" ng-click="itemsLimit = 2">2</a></li>
   <li><a href="#" ng-click="itemsLimit = 3">3</a></li>
 </ul>
</div> 
</div>
</div>
</div>
</div>


</div>










