<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="table-header">
				<div class="col-xs-12 col-sm-12">
					<p>Proyectos Elegidos</p>
				</div>
			</div>
			<table id="custom-table" ng-table="tableParams"  class="table">
				<tr ng-repeat="proyecto in proyectos">
					<td data-title="'Curso'">{{proyecto.curso}}</td>
					<td data-title="'Equipo'">{{proyecto.equipo}}</td>
					<td data-title="'Imagen'">{{proyecto.imagen}}</td>
					<td data-title="'Agregar'" ><i class="fa fa-plus fa-lg plus-add-icon" ng-click="agregarProyecto(proyecto)"></i></td>
				</tr>			

			</table>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="table-header">
				<div class="col-xs-12 col-sm-12 proyecto">
					<p class="col-xs-10 col-sm-10">Proyectos Votacion</p><button data-toggle="modal"  data-target="#elegirVot" class="conf fa fa-cog fa-2"></button>
				</div>
			</div>
			<table id="custom-table" ng-table="tableParams"  class="table" >
				<tr ng-repeat="proyecto in proyectosSeleccionados track by $index">
					<td data-title="'Curso'">{{proyecto.curso}}</td>
					<td data-title="'Equipo'">{{proyecto.equipo}}</td>
					<td data-title="'Imagen'">{{proyecto.imagen}}</td>
					<td data-title="'Eliminar'"> <a><i class="fa fa-times-circle fa" data-toggle="modal"  data-target="#modalConfirm" ng-click="borrarEste(proyecto)" ></i></a> </td>
				</tr>
			</table>
		</div>
		
	</div>