
<div class="col-xs-12 col-sm-8 col-offset-sm-2">
	<ul class="list-group">
		<li ng-repeat="estudiante in estudiantes">
			<div class="divNombre">
				<h3>{{ estudiante.nombre}} {{estudiante.apellido}}</h3>
			</div>
			<div class="alumno">
				<ul class="list-group">
					<li ng-repeat="curso in estudiante.cursos">
						
						<p><b>Curso:</b>{{curso.nombre}}</p>
						<p><b>Equipo:</b>{{curso.equipo}}</p>
						<p><b>Nota :</b>{{curso.nota}}</p>
						<p><b>Profesor:</b>{{curso.profesor}}</p>
						<a href="">
				    	  	<img ng-src="{{curso.logoEquipo}}" class="pull-right grow">
				    	 </a>
					</li>
				</ul>
			</div>
				

				
			

			
		</li>
	</ul>
</div>
	
