<div class="container-fluid">
<div class="divTitle table-header">
	<h3>Factor Humano</h3>
	<!-- <p>
		<a class="add" data-toggle="modal" data-target="#editModal" ng-click="agregar(carrera)" href="">
				<i class="fa fa-plus fa-lg"></i>Agregar
		</a>
	</p> -->
</div>

		
<div class="clearfix divTabla" >
	<table ng-repeat="factor in factorHumano" class="table table-nonfluid table-hover">
		<tr>
			<th>Profesor</th>
			<th>Grupo</th>		
			<th>Rubrica</th>
			<th>Valor</th>
		</tr>
		<tr>
			<td>{{factor.nombrePofesor}} {{factor.apellidoProfesor}}</td>
		  <td>{{factor.grupos[0].nombre}}</td>
		  <td>{{factor.grupos[0].rubrica[0].nombre}}</td>
		  <td>{{factor.grupos[0].rubrica[0].valor}}</td>
		</tr>
		<tr>
			<td>{{factor.nombrePofesor}} {{factor.apellidoProfesor}}</td>
		  <td>{{factor.grupos[1].nombre}}</td>
		  <td>
				<a href="">
					<i class="fa fa-plus fa-lg"></i>Agregar
				</a>
		  </td>
		</tr>
	</table>
</div><!-- fin divTabla -->
</div><!-- finContainer -->
