<div class="container-fluid">
<div class="divTitle table-header">
	<h3>Rubrica cursos</h3>
</div>
<div class="clearfix divTabla" >
	<table class="table table-nonfluid table-hover">
		<tr>
			<!-- <th>Grupo</th> -->
			<th>Curso</th>		
			<th>Acciones</th>
		</tr>
		<tr ng-repeat="curso in rubricaCursos[0].cursos">
		  <td>{{curso.cursoNombre}}</td>
			<td class="tdModal">
			<a href="" data-toggle="modal" data-target="#modalRubrica" ng-click="editar(curso)">
				<i class="fa fa-pencil-square-o fa-2x"></i>Editar
			</a>
			</td>
		</tr>
	</table>
</div><!-- fin divTabla -->
</div><!-- finContainer -->
