<modal-nueva-entrega></modal-nueva-entrega>
<div id="divVerEntregas" class="container-fluid equipoContent">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-2">
			<p>Profesor Encargado: {{grupo.attendant.name}} {{grupo.attendant.lastname}}</p>
		</div>
		<div class="col-xs-4">
			<button type="button" ng-click="newAssignment(grupo)" class="btn btn-custom" data-toggle="modal" data-target="#verNuevaEntrega" >Nueva Entrega</button>
		</div>
	</div>
	<div class="row" ng-repeat="entrega in grupo.entregas">
		<div class="col-xs-12 col-sm-4 col-sm-offset-4">
			<div class="row divAssignment" ng-click="bShowReceived = !bShowReceived">
				<p>{{entrega.name}}</p>
			</div>
			<div class="row divReceived" ng-show="bShowReceived" ng-repeat="upload in entrega.uploads">
				<div class="col-xs-11">
					<label>{{upload}}</label>
				</div>
				<div class="col-xs-1">
					<i class="fa fa-download pull-right"></i>
				</div>
			</div>
		</div>
	</div>
</div>