<modal-nueva-entrega></modal-nueva-entrega>
<div class="container-fluid equipoContent">
	<div class="row">
		<button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#verNuevaEntrega">Add</button>
	</div>
	<div class="row" ng-repeat="entrega in grupo.entregas">
		<div class="col-xs-6 col-xs-offset-3">
			<div>
				<p>{{entrega.name}}</p>
			</div>
			<div>
				<ul>
					<li ng-repeat="upload in entrega.uploads">{{upload}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>