<modal-ver-equipo></modal-ver-equipo>
<div id="divVerEquipo" class="container-fluid equipoContent">
	<div class="row divAddTeam">
		<div class="col-xs-12 col-sm-2 col-sm-offset-8">
			<button type="button" class="btn btn-custom pull-right" data-toggle="modal" data-target="#modalNuevoRol" ng-click="newRol(grupo)">Agregar Rol</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<table id="custom-table" ng-table="tableParams"  class="table">
				<tr ng-repeat="rol in grupo.roles">
					<td data-title="'Nombre'">{{rol.name}}</td>
					<td data-title="'Acciones'">
						<a data-toggle="modal" data-target="#modalNuevoRol" ng-click="editRoles(rol)"><i class="fa fa-pencil-square-o fa-2x"></i></a>
						<a><i class="fa fa-times-circle fa-2x" ng-click="setDelete(grupo,rol)" data-toggle="modal" data-target="#modalConfirmacion"></i></a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>