<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="table-header divTitle">
				<h3>Reporte de Notas</h3>
			</div>
			<!-- formulario de las notas -->
			<form action="" class="form-inline formInputSearchers clearfix">
			<div class="form-group search-parent">
			    	   <label for="exampleInputName2">Nombre</label>	
			    	   <input type="text" class="form-control search-normal txtNota" placeholder="Nombre" ng-model="notas.search.nombre">
			    	   <i class="fa fa-search normal-search-icon"></i>
		    	</div>
				 <div class="form-group search-parent">
			    	<label for="exampleInputName2">Curso</label>	
			    	<input type="text" class="form-control search-normal txtCurso" placeholder="Curso" ng-model="notas.search.curso">
			    	<i class="fa fa-search normal-search-icon"></i>
		    	</div>
		    	<div class="form-group search-parent divTxtNota">
			    	   <label for="exampleInputName2">Nota</label>	
			    	   <input type="text" class="form-control search-normal txtNota" placeholder="Nota" ng-model="notas.search.nota">
			    	   <i class="fa fa-search normal-search-icon"></i>
		    	</div>
		    	
			</form>
			<div class="clearfix divTabla">
				<!-- Colocar la tabla Aqui!!!XD -->
				<table class="table table-nonfluid table-responsive table-hover">
					<tr>
						<th>Nombre</th>
						<th>Curso</th>	
						<th>Grupo</th>		
						<th>Nota</th>
					</tr>
					<tr ng-repeat="estudiantes in reportes | filter:notas.search:notas">
						<td>{{estudiantes.Nombre}}</td>	
						<td>{{estudiantes.Curso}}</td>	
						<td>{{estudiantes.Grupo}}</td>	
						<td>{{estudiantes.Nota}}</td>	
					</tr>
				</table>	
			</div>
		</div>
	</div>
</div>
				
				
