<div id="divMiCurso" class="container-fluid equipoContent">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-2">
			<p>Entregas</p>
		</div>
	</div>
	<div class="row" ng-repeat="entrega in grupoActual.entregas">
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
			<div class="row divAssignment">
				<div class="col-xs-10">
					<p>{{entrega.Nombre}}</p>
				</div>
				<div class="col-xs-2">
					<p><a href=""><i class="fa fa-upload"></i></a></p>
				</div>
			</div>
		</div>
	</div>
</div>