<div class="container-fluid equipoContent">
	<div class="col-xs-12">
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-xs-4 col-sm-2 control-label" for="nombreEquipo">Nombre Equipo</label>
      <div class="col-xs-8 col-sm-8 pencil-parent">
      	<input type="text" class="form-control pencil-input " id="nombreEquipo" ng-model="grupo.Equipo">
      	<i class="fa fa-pencil-square-o pencil-icon fa-2x"></i>
      </div>    
		</div>
		<div class="form-group">
			<div class="col-xs-12 col-sm-6">
				<label>Integrantes:</label>
				<table id="custom-table" ng-table="tableParams"  class="table">
					<tr ng-repeat="integrante in grupo.Integrantes">
						<td data-title="'Nombre'">{{integrante.Nombre}}</td>
						<td data-title="'Apellido'">{{integrante.Apellido}}</td>
						<td data-title="'Rol'">{{integrante.RolNombre}}</td>
						<td data-title="'Evaluacion'">
							<a data-toggle="modal" data-target="#modalIntegrante" ng-click="editEval(integrante)"><i class="fa fa-pencil-square-o fa-2x"></i></a>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="row">
					<label class="col-xs-12">Descripción <i class="fa fa-pencil-square-o fa-2x"></i></label>
				</div>
				<div class="row row-xs">				
					<div class="col-xs-2 col-sm-2">
						<label for="" class="label-xs">Visión</label>
					</div>
					<div class="col-xs-8 col-sm-10">
						<input type="text" class="form-control pencil-input input-xs" id="nombreEquipo" ng-model="grupo.Vision">
					</div>
				</div>
				<div class="row row-xs">
					<div class="col-xs-2 col-sm-2">
						<label for="" class="label-xs">Misión</label>
					</div>
					<div class="col-xs-8 col-sm-10">
						<input type="text" class="form-control pencil-input input-xs" id="nombreEquipo" ng-model="grupo.Mision">
					</div>
				</div>
			</div>
		</div>
		<div class="form-grop">
			 <button type="submit" class="btn btn-custom btn-sm pull-right" ng-click="guardarInfoEquipo(curso)">Guardar</button>
		</div>
	</form>
	</div>
</div>

