<div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header"><h4>Nuevo Usuario<h4> </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body"  id="contentbody">
        <form name="usuariosForm" class="form-horizontal" novalidate >
        <div class="form-group">
          <label class="col-xs-4 control-label" for="">Nombre</label>  
          <div class="col-xs-8">
            <input type="text" ng-model="usuario.Nombre" class="form-control input-md" required> 
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label" for="">Primer Apellido</label>  
          <div class="col-xs-8">
            <input type="text" ng-model="usuario.Apellido" class="form-control input-md" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label" for="">Email</label>  
          <div class="col-xs-8">
            <input type="email" ng-model="usuario.Email" class="form-control input-md">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label" for="">Contraseña</label>  
          <div class="col-xs-8">
            <input type="password" ng-model="usuario.Password" class="form-control input-md" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label" for="">Role</label>  
          <div class="col-xs-8">
            <select ng-model="usuario.rol" ng-init="usuario.rol" required ng-options="obj.nombre for obj in roles track by obj.id">
              <option value="">--Roles--</option>
            </select>
          </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-custom btn-sm" ng-click="guardar(usuario)">Guardar</button>
      </div>
    </div>
  </div>
</div>