<div class="container-fluid">
	<div class="row">
	<div class="pagetittle col-xs-11 col-sm-7"><h2>Usuarios</h2></div>
	<div class="form-group search-parent  col-xs-11 col-sm-4">
      <input type="text" class="form-control normal-search ng-pristine ng-valid ng-touched" placeholder="Search" ng-model="palabra">
      <i class="fa fa-search normal-search-icon"></i>
    </div>
		<div class="col-xs-12">
			<div class="table-header">
				<div class="col-xs-12 col-sm-6">
					<p>Usuarios</p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<p><a class="add" data-toggle="modal" data-target="#modalUsuario" ng-click="nuevo()" ><i class="fa fa-plus fa-lg"></i>Agregar</a></p>
				</div>
			</div>
			<div class="scrollLongTable">
				<table id="custom-table" ng-table="tableParams"  class="table">

				<tr ng-repeat="usuario in usuarios | filter:palabra">
					<td data-title="'Nombre'">{{usuario.nombre}}</td>
					<td data-title="'Apellido'">{{usuario.apellido}}</td>
					<td data-title="'Rol'">{{usuario.rol.nombre}}</td>
					<td data-title="'Modificar'">
						<a data-toggle="modal" data-target="#modalUsuario" ng-click="editar(usuario)"><i class="fa fa-pencil-square-o fa-2x"></i></a>
					</td>
					<td data-title="'Eliminar'">
					<a><i class="fa fa-times-circle fa-2x" data-toggle="modal" data-target="#modalConfirm" ng-click="borrarObjeto(usuario)"></i></a>
					</td>
				</tr>
			</table>
			</div>

		</div>
	</div>
</div>
