<div class="pagetittle pageV col-xs-11 col-sm-12"><h2>Estado de Votación</h2></div>
<div ng-repeat="proyecto in proyectosElegidos">
	<div class="col-xs-12 col-sm-4">
		<div class="item-votacion">
			<div class="item-votacion-header">
				<h4>{{proyecto.Equipo}}</h4>
			</div>
			<div class="ih-item square new effect6 from_top_and_bottom">
				<a data-toggle="modal" ng-click="seleccionar(proyecto)" data-target="#editModalV">
					<div class="img"><img class="img-responsive" ng-src="{{proyecto.Imagen}}" alt=""></div>
			     	<div class="info"> <h3>{{ proyecto.Curso }}</h3><p><i class="fa fa-play-circle"></i></p></div>
			   </a>
			</div>						
			<div class="item-votacion-contenido col-xs-12 col-sm-8">
			<p> Integrantes </p>
				<p ng-repeat="estudiante in proyecto.Integrantes">{{estudiante.Nombre}} {{ estudiante.Apellido}} - {{ estudiante.RolNombre}} </p>		
			</div>
			<div class="startsbox pull-right">
					<img class="starEstado" ng-show="proyecto.Votos > 0" src="img/starLlena.png" alt="">
					<img class="starEstado" ng-show="proyecto.Votos == 0" src="img/starVacia.png" alt="">
						<p class="cantidad">Total de votos: {{proyecto.Votos}}</p>
				</div>
				<div>
				
				</div>

		</div>
		
	</div>	
</div> 

