<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header"><h4>Configuración</h4></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body"  id="contentbody">
        <form class="form-horizontal">
        
        <div class="form-group">
          <label class="col-xs-4 control-label" for="">Email</label>  
          <div class="col-xs-8">
            <input type="email" ng-model="portafolio.Email" class="form-control input-md"> 
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label" for="">Teléfono</label>  
          <div class="col-xs-8">
            <input type="text" ng-model="portafolio.Telefono" class="form-control">
          </div>
        </div>
       <div class="form-group">
          <label class="col-xs-4 control-label" for="">Otra Informacion</label>  
          <div class="col-xs-8">
           <textarea ng-model="portafolio.Descripcion"  id="textPortafolio" class="form-control"></textarea>
          </div>
        </div>
        </form>
         <div class="form-group">
         <form action="almacenar.php" method="POST" enctype="multipart/form-data">
           <label class="col-xs-4 control-label" for="imagen">Imagen:</label>
           <input type="file" name="imagen" class="inputpor" id="imagen" />
            <input type="submit" name="subir" value="Subir Imagen"/>
         </form>
     </div>
      </div>
      <div class="modal-footer">
       <button type="submit" class="btn btn-custom btn-sm" ng-click="guardar()">Guardar</button>
      </div>
    </div>
  </div>
</div>